body {
    background-color:black
}
.carousel-indicators {
    position: absolute;
    bottom:-30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

#head2{
    color: aliceblue;
}
#head1{
    font-size:xxx-large;
    font-stretch:ultra-expanded;
    font-weight: bold;
    color:aqua;
}
#para1{
    color: chartreuse;
    font-size:xx-large;
    font-stretch:ultra-expanded;
    font-weight: bold;
}
.container{
    background-color:black;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
